{% extends 'base.html' %}

{#게시글 수정 html#}
{% block body %}
         <div class="border feed_box">
        <div class="feed_name">
            <div class="profile_box">
                <img class="profile_img"
                     src="https://lumiere-a.akamaihd.net/v1/images/c94eed56a5e84479a2939c9172434567c0147d4f.jpeg?region=0,0,600,600&width=480">
            </div>
            <form action="/content/modify/{{ content.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="feed_name_txt"> {{ user }} </span>

                <label for="imgs" class="form-label">PHOTO</label><br>
                <input class='photo_btn' type="file" id='imgs' name='imgs' multiple>
                <div class="mb-3">
                    <label for="my-content" class="form-label">CONTENT</label>
                    <textarea class="form-control" id="my-content" name="my-content" rows="3">{{ content.contents }}</textarea>
                </div>

                <hr>
                <button type="submit" class="post_btn">수정</button>
            </form>
        </div>
    </div>
{% endblock body %}