{% extends 'base.html' %}
{#modify#}
{% block title %}
    게시글 자세히보기
{% endblock %}

{% block body %}
    <div class="border feed_box" style="padding: 20px;">
        <div class="feed_name">
            <div class="profile_box">
                <img class="profile_img"
                     src="https://lumiere-a.akamaihd.net/v1/images/c94eed56a5e84479a2939c9172434567c0147d4f.jpeg?region=0,0,600,600&width=480">
            </div>
            <form action="/content/modify/{{ content.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="feed_name_txt"> {{ user }} </span>
            </div>

                <div class="mb-3" style="margin-top: 20px; margin-bottom: 20px;">
                    <label for="my-content" class="form-label" style="font-weight: normal">
                        {{ user }}님, 무슨 생각을 하고 계신가요? </label>
                    <textarea class="form-control" id="my-content" name="my-content" rows="3"
                              style="margin-top: 20px;">{{ content.contents }} </textarea>
                </div>


                <label for="imgs" class="form-label" style="font-weight: bold; margin-top: 20px; margin-bottom: 10px;">
                    🤳사진 또는 동영상을 선택하세요 </label>
                <input class='photo_btn' type="file" id='imgs' name='imgs' multiple Required>
                <div style="text-align: center; margin-top: 40px;">
                    <button type="submit" class="btn btn-outline-dark" class="post_btn">수정</button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}