{% extends 'base.html' %}
{% block body %}
    <div class="border feed_box">
        <div class="feed_name">
            <div class="profile_box">
                <img class="profile_img"
                     src="https://lumiere-a.akamaihd.net/v1/images/c94eed56a5e84479a2939c9172434567c0147d4f.jpeg?region=0,0,600,600&width=480">
            </div>
            <form action="/content/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="feed_name_txt"> {{ user }} </span>

                <label for="imgs" class="form-label">PHOTO</label><br>
                <input class='photo_btn' type="file" id='imgs' name='imgs' multiple>
                <div class="mb-3">
                    <label for="my-content" class="form-label">CONTENT</label>
                    <textarea class="form-control" id="my-content" name="my-content" rows="3"></textarea>
                </div>

                <hr>
                <button type="submit" class="post_btn">게시</button>
            </form>
        </div>
    </div>

    {% for con in content %}
        <div class="border feed_box">
        <div class="feed_name">
            <div class="profile_box">
                <img class="profile_img"
                     src="https://lumiere-a.akamaihd.net/v1/images/c94eed56a5e84479a2939c9172434567c0147d4f.jpeg?region=0,0,600,600&width=480">
            </div>
            <span class="feed_name_txt"> {{ con.author }} </span>
        </div>
        <a href="/content/{{ con.id }}">
        {% for photo in con.photo_set.all %}
            <img class="feed_img" src='{{ photo.image.url }}'><br>

        {% endfor %}
        <div class="feed_icon">
            <div>
                {% comment %} 좋아요 눌려있으면 {% endcomment %}
                {% if con in user.likes.all %}
                    <a href="/content/{{ con.id }}/likes"><span>❤</span></a>
                {% else %}
                    {% comment %} 안눌려있으면 {% endcomment %}
                    <a href="/content/{{ con.id }}/likes"><span class="material-symbols-outlined">favorite</span></a>
                {% endif %}
                <span class="material-icons-outlined"> comment </span>
            </div>

            <div>
                    <span class="material-icons-outlined">
                        turned_in_not
                    </span>
            </div>
        </div>
        <div class="feed_like">
            <p class="feed_txt"><b>좋아요 {{ con.liked.count }} 개</b></p>
        </div>
        <div class="feed_content">
            <p class="feed_txt"><b> {{ con.author }} </b> {{ con.contents }} </p>
        </div>
{#        게시글 삭제 버튼입니다# #}
        <div style="text-align: right">
            <a href="/content/delete/{{ con.id }}">
                <span class="badge rounded-pill bg-danger">삭제</span>
            </a>
        </div>
    {% endfor %}
</a>
</div>
{% endblock body %}
   