{% extends 'base.html' %}
{% block body %}

{% for con in content %}
{% if con in user.likes.all %}
<div class="border feed_box" style="padding: 10px;">
    <div class="feed_name">
        <div class="profile_box">
            <img class="profile_img"
                src="https://lumiere-a.akamaihd.net/v1/images/c94eed56a5e84479a2939c9172434567c0147d4f.jpeg?region=0,0,600,600&width=480">
        </div>
        <span class="feed_name_txt"> {{ con.author }} </span>
    </div>

    <img class="feed_img" src='{{ con.image.url }}'><br>


    <div class="feed_icon">
        <div>
            {% comment %} 좋아요 눌려있으면 {% endcomment %}
            {% if con in user.likes.all %}
            <a href="/content/{{ con.id }}/likes"><span class="material-symbols-outlined"
                    style="color: red;">favorite</span></a>
            {% else %}
            {% comment %} 안눌려있으면 {% endcomment %}
            <a href="/content/{{ con.id }}/likes"><span class="material-symbols-outlined">favorite</span></a>
            {% endif %}
            <a href="/content/{{ con.id }}"><span class="material-icons-outlined"> comment </span></a>
        </div>

        <div>
            <span class="material-icons-outlined">
                turned_in_not
            </span>
        </div>
    </div>
    <div class="feed_like">
        <p class="feed_txt"><b>좋아요 {{ con.liked.count }} 개</b></p>
    </div>
    <div class="feed_content">
        <p class="feed_txt"><b> {{ con.author }} </b> {{ con.contents }} </p>
    </div>
</div>
{% endif %}
{% endfor %}
</a>
{% endblock body %}